Repository ayan4m1/escc-info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, markdownlint

fix local_dir in .travis.yml
  .travis.yml
Due: none

move author line to same row as title, make it a bit smaller
  src/components/markdown/page.js
Due: eslint

remove author from v1/v2 escc pages
  src/docs/escc/v1.mdx
  src/docs/escc/v2.md
Due: markdownlint

add gatsby-remark-images
  gatsby-config.js
  package-lock.json
  package.json
Due: eslint

remove author info from page
  src/components/markdown/page.js
  src/components/markdown/post.js
Due: eslint

add devices menu to nav
  src/components/header.js
Due: eslint

add WIP device documents
  src/docs/devices/arctic-fox.md
  src/docs/devices/control-tower.md
  src/docs/devices/evolv-dna.md
Due: markdownlint

update documents
  src/docs/escc/spring-clips.md
  src/docs/escc/v1.mdx
  src/docs/escc/v2.md
  src/docs/faq.md
  src/images/escc.png
  src/images/spring-clips-narrow-wide.jpg
Due: markdownlint

add spring clip orientation image
  src/docs/escc/spring-clips.md
  src/images/spring-clips-orientation.jpg
Due: markdownlint

Deploy ayan4m1/escc-info to github.com/ayan4m1/escc-info.git:gh-pages
  escc/spring-clips/index.html
  page-data/escc/spring-clips/page-data.json
  static/a78ad9fc941ba0aeecd848a576f43aa9/1c91a/spring-clips-orientation.jpg
  static/a78ad9fc941ba0aeecd848a576f43aa9/7cc5e/spring-clips-orientation.jpg
  static/a78ad9fc941ba0aeecd848a576f43aa9/a80bd/spring-clips-orientation.jpg
Due: none

Deploy ayan4m1/escc-info to github.com/ayan4m1/escc-info.git:gh-pages
  404.html
  404/index.html
  app-4972e8eb734121a410a3.js
  app-4972e8eb734121a410a3.js.map
  app-8fb6b31a69043af490e7.js
  app-8fb6b31a69043af490e7.js.LICENSE.txt
  app-8fb6b31a69043af490e7.js.map
  chunk-map.json
  devices/arctic-fox/index.html
  devices/control-tower/index.html
  devices/evolv-dna/index.html
  escc/origins/index.html
  escc/spring-clips/index.html
  escc/v1/index.html
  escc/v2/index.html
  faq/index.html
  index.html
  offline-plugin-app-shell-fallback/index.html
  page-data/app-data.json
  sw.js
  webpack.stats.json
Due: eslint

Path conditions:
  eslint: any of: *.js
  stylelint: any of: *.scss
  markdownlint: any of: *.md
